{% extends "base.html" %}

{% block content %}

<div class="container">
  
<aside class="col-sm-4" >

<div class="card" >

<article class="card-body">
	<a href="/signup" class="float-right btn btn-outline-success">Sign up</a>
	<h4 class="card-title mb-4 mt-1 text-center">Sign in</h4>
	<p>
    <a class="btn btn-block btn-outline-dark" href="{{ url_for('github.login') }}"> <i class="fab fa-github"></i>  Login with Github</a>
    <a class="btn btn-block btn-outline-danger" href="{{ url_for('google.login') }}">  <i class="fab fa-google"></i>  Login with Google</a>
		<a class="btn btn-block btn-outline-primary" href="{{ url_for('facebook.login') }}">  <i class="fab fa-facebook-f"></i>  Login with Facebook</a>
  </p>
  <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-danger" role="alert">
            {% else %}
              <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
              {{ message }}
            </div>
        {% endfor %}
      {% endif %}
  {% endwith %}

    <form method="POST" action="/login">
      <div class="form-group">
        <input name="email" class="form-control" placeholder="user@user.com" type="email" autofocus="">
      </div> 
      <div class="form-group">
        <input name="password" class="form-control" placeholder="********" type="password">
      </div> 
      <div class="row">
        <div class="col-md-6 text-left">
          <label class="checkbox">
          <input class="check1" type="checkbox">
            Remember me
          </label>
        </div>
          <div class="col-md-6 text-center">
            <button type="submit" class="btn btn-primary btn-block"> Login</button>
          </div> 
          <div class="col-md-12 text-right">
              <a class="small" href="{{ url_for('auth.reset') }}">Forgot password?</a>
          </div>                                               
      </div>                                                                 
    </form>
</article>
</div> 
</aside> 

</div>
{% endblock %}
