{% extends "base.html" %}

{% block content %}

<div class="container">

  <aside class="col col-sm-5">
    <div class="card">
      <article class="card-body">
        <h4 class="card-title mb-4 mt-1 text-center">Sign Up</h4>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning">
          {{ messages[0]}}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
          <div class="form-group">
              <input name="username" class="form-control" placeholder="Name" type="text" autofocus="">  
          </div>
          <div class="form-group">
              <input name="email" class="form-control" placeholder="user@user.com" type="email" autofocus="">
          </div>
          <div class="form-group">
              <input name="password" class="form-control" placeholder="********" type="password">  
          </div>
          <button type="submit" class="btn btn-info btn-block">Sign Up</button>
        </form>
      </div>
    </div>
      </article>
  </aside>
{% endblock %}